*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 10px;
}